@charset "utf-8";
body{min-width:980px}

/*header*/
.utilWrap{border-bottom: 1px solid #000;}
.util{width: 980px;margin: 0 auto;}
.uMenu{_width: 330px;float: right;}
.uMenu li{float: left;padding: 0 10px;position: relative;}
.uMenu li:last-child{padding-right:0;}
.uMenu li a{display: block;line-height:35px;font-size:12px}
.uMenu li:after{
    content:"";position: absolute;width: 1px;height: 10px;
    background: #00f;right:0;top:12px
}
.uMenu li:last-child:after{content:"";display: none;}

#header h1{text-align: center;}

.gnbWrap{background: #1d5da4;}
.gnbMenu{width: 980px;margin: 0 auto;}
.gnbMenu li{float: left;width:calc(100% / 6);border-left: 1px solid #fff;}
.gnbMenu li:last-child{border-right: 1px solid #fff;}
.gnbMenu a{display: block;line-height:40px;text-align: center;color:white}
.gnbMenu a:hover{color:orange;background:#00f;}

/*visual wrap*/
.visualWrap{
    height: 400px;overflow: hidden;
/*
    background-color: #223a6a;
    background-image: url(../images/main_bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
*/
    background:#223a6a url(../images/main_bg01.jpg) no-repeat center;
}
.visual{width: 980px;height: 400px;margin:0 auto;position: relative;}
.visual .vImg1,
.visual .vImg2{position: absolute;}
.visual .vImg1{right: 0;top: -10px;}
.visual .vImg2{left: 0;top:76px}

/*section*/
.section{background: #eee;}
.banner{width: 980px;margin: 0 auto}
.banner li{float: left;width:calc(100% / 5);padding-top:10px}
.banner li a{display: block;height: 196px;text-align: center;color:white}
.banner li:nth-child(1){background: #7c99b9;}
.banner li:nth-child(2){background: pink;}
.banner li:nth-child(3){background: green;}
.banner li:nth-child(4){background: skyblue;}
.banner li:nth-child(5){background: gold;}



/*common*/
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
