@charset "utf-8";

/*header*/
#header{min-width:980px}
.utilWrap{border-bottom: 1px solid #000;}
.util{width: 980px;margin: 0 auto;}
.uMenu{_width: 330px;float: right;}
.uMenu li{float: left;padding: 0 10px;position: relative;}
.uMenu li:last-child{padding-right:0;}
.uMenu li a{display: block;line-height:35px;font-size:12px}
.uMenu li:after{
    content:"";position: absolute;width: 1px;height: 10px;
    background: #00f;right:0;top:12px
}
.uMenu li:last-child:after{content:"";display: none;}





