@charset "UTF-8";
/* reset */
*{margin: 0;padding: 0;box-sizing:border-box;}
a:link,a:visited{color:#000;text-decoration:none}
li{list-style: none}
.clearfix:after{content:"";display: block;clear: both;}


/* header */
header{display:flex;justify-content: center;height:100px;}
.container{
  width: 1000px;_background:skyblue;
  display:flex;justify-content: space-between
}
.logo{display:flex;align-items: center}
.menu{display:flex;align-items:center;}
.menu ul{display:flex;}
.menu ul a{display: block;padding:15px}
.menu ul a:hover{background:orange;color:#fff}

/* banner */
#banner{
  background-image: url(../images/banner/tony-stark-poster.jpg);
  background-position: center;background-size:cover;
  height:600px;
  display:flex;justify-content:center
}
.banner_txt{
  _background:gray;flex:1;display:flex;flex-direction:column;
  justify-content: center;align-items:flex-end;color:#fff
}
.banner_txt h2{font-size:2.5rem;width: 400px;text-align: left;}
.banner_txt p{font-size:1.3rem;text-align: left;width: 400px;}


@media screen and (max-width:700px){
  header{height: 60px;}
  .logo{padding-left:16px;}
  .logo img{width:100px}
  .menu ul{display: none;}
  .banner_txt{align-items:center;}
}





/*  */
